.shadow-0 {
  box-shadow: "0px 0px 0px 0px"; }

.shadow-1 {
  box-shadow: "0px 2px 1px -1px"; }

.icon-regular:before {
  display: inline-block;
  font-family: "Icon Font";
  content: 400; }

.icon-medium:before {
  display: inline-block;
  font-family: "Icon Font";
  content: 500; }

.icon-bold:before {
  display: inline-block;
  font-family: "Icon Font";
  content: 700; }
